.site-logo {
    color: var(--foreground);
    text-decoration: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.15rem;
    font-weight: 800;
    letter-spacing: -0.075em;

    position: relative;
    transition: opacity 0.2s ease;
}

.site-logo::after {
    content: "";
    display: block;

    width: 100%;
    height: 1px;
    margin-top: 0.15rem;

    background: var(--foreground);

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease;
}

.site-logo:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.site-logo-ender {
    color: var(--secondary)
}

.navbar {
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
}

.nav-link {
    position: relative;
    color: var(--muted-foreground);
    text-decoration: none;
    font-weight: 400;
    transition:
      color 0.2s ease,
      transform 0.2s ease;
}

.nav-link:hover {
    color: var(--foreground);
    transform: translateY(-2px);
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 1px;
    background: var(--foreground);

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.nav-link.active {
    color: var(--foreground);
    font-weight: 700;
}

.nav-link.active::after {
    transform: scaleX(1);
}